<script lang="ts" setup>
import { defineProps, defineEmits } from 'vue'
import GermanFlag from './icons/IconGerman.vue'
import FrenchFlag from './icons/IconFrench.vue'
import EnglishFlag from './icons/IconEnglish.vue'

// List of supported languages
enum Language {
    EN = 'English',
    FR = 'Franch',
    DE = 'German'
}

interface SelectProps {
    disabled?: boolean;
    modelValue: string;
    touched?: boolean;
}

// Accept the currently selected option and the overal disable status from the parent level
const props = defineProps<SelectProps>();

const languages = (Object.keys(Language) as Array<keyof Language>).map((lang) => {
    return { value: lang, label: (Language as Record<string, string>)[lang as Language] }
}) as Array<{ value: string; label: string; }>;

// Ensure v-model can work at parent level by propagating update events
const emit = defineEmits(['update:modelValue'])
const updateValue = (event: Event) => {
    emit('update:modelValue', (event.target as HTMLInputElement)?.value ?? '')
}
</script>

<template>
    <GermanFlag v-if="modelValue === 'DE'" />
    <EnglishFlag v-else-if="modelValue === 'EN'" />
    <FrenchFlag v-else />

    <select id="language" :value="modelValue" @input="updateValue" :disabled="props.disabled"
        :class="{ touched: props.touched }">
        <option v-for="option in languages" :value="option.value" v-bind:key="option.value">
            {{ option.label }}
        </option>
    </select>
</template>
