<script lang="ts" setup>
import { ref, watch, type Ref } from 'vue'
import SearchInput from './SearchInput.vue';
import LanguageSelector from './LanguageSelector.vue';
import Logo from './icons/IconTaskLogo.vue';

interface APIResponse {
    status: number;
    success: boolean;
    error: string;
    result: string;
}

interface Article {
    link: string;
    description: string;
    source: string;
    published: number,
}

interface FormState {
    keywordsTouched: boolean;
    languageTouched: boolean;
    disabled?: boolean;
    fetching?: boolean;
    articles?: Article[];
}

// Define form reactive state keeper
let formState = ref<FormState>({
    // language: 'EN',
    disabled: false,
    fetching: false,
} as FormState);

const keywords = ref<string>() as Ref<string>;
const language = ref<string>('EN');

const unwatchKeywords = watch(keywords, async () => {
    formState.value.keywordsTouched = true;

    if (language.value) {
        formState.value.languageTouched = true;
    }

    unwatchKeywords();
});

const unwatchLanguage = watch(keywords, async () => {
    formState.value.languageTouched = true;
    unwatchLanguage();
});

const submitForm = async () => {
    if (keywords.value && language.value) {
        formState.value.disabled = true;
        formState.value.fetching = true;

        try {
            const result = await fetch('/search', {
                method: 'POST',
                body: JSON.stringify({ keywords: keywords.value, language: language.value }),
            });

            const parsed = await result.json() as APIResponse;

            if (parsed.success) {
                formState.value.articles = JSON.parse(parsed.result).map((v: string) => JSON.parse(v));
                console.log(formState.value.articles);
            }
        } catch (e) {
            // TODO:
        } finally {
            formState.value.disabled = false;
            formState.value.fetching = false;
        }
    }
};
</script>

<template>
    <form @submit.prevent="submitForm">
        <Logo :class="{ minimised: !!formState.articles }" />
        <label for="search">Search for your favorite news</label>

        <div class="search-controls">
            <SearchInput v-model="keywords" :disabled="formState.disabled"
                :class="{ touched: formState.keywordsTouched }" />

            <LanguageSelector v-model="language" name="country" label="Country:" :disabled="formState.disabled"
                :touched="formState.languageTouched" />

            <button type="submit" :disabled="formState.disabled">Search</button>
        </div>

        <div v-if="formState.fetching" class="blinking">
            Searching for topics matching your preferences...
        </div>
    </form>

    <div v-if="formState.articles">
        <table v-if="formState.articles.length">
            <thead>
                <tr>
                    <th>
                        Published
                    </th>
                    <th>
                        Source
                    </th>
                    <th>
                        Link
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="article in formState.articles" v-bind:key="article.published">
                    <td>
                        {{ new Date(article.published * 1000).toLocaleDateString() }}
                    </td>
                    <td>
                        {{ article.source }}
                    </td>
                    <td>
                        <a :href="article.link">Original Article</a>
                    </td>
                    <td v-html="article.description">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<style>
form>svg {
    height: 50vh;
    margin-bottom: -5%;

    transition: all 1s linear;
}

form>svg.minimised {
    height: 10vh;
    align-self: flex-start;
    margin-bottom: 0;
    margin-top: 5%;
}

form {
    display: flex;
    flex-direction: column;
}

form>label {
    display: flex;
    flex: 1;

    color: var(--color-heading);
    line-height: 2.6;
    font-size: 1.75em;
}

form>div.search-controls {
    display: flex;
    flex: 1;

    flex-wrap: nowrap;
}

form>div.search-controls input {
    flex: 10;

    font-size: 1.25em;
    height: 4em;
    padding: 0 4.5em 0 1em;
    outline: none;

    border-right: none !important;
}

form>div.search-controls input.touched:valid,
form>div.search-controls select.touched:valid {
    border: 1px solid green;
    animation: valid 1s linear;
}

form>div.search-controls input.touched:invalid,
form>div.search-controls select.touched:invalid {
    border: 1px solid red;
    animation: invalid 1s linear;
}

form>div.search-controls select {
    display: flex;
    flex: 1;

    border-left: none !important;
    outline: none;
    padding: 0 .5em 0 1em;
}

form>div.search-controls svg {
    width: 4em;
    height: 4em;
    padding-top: 1em;
    margin-left: -5em;

    /* border: 5px solid red; */
    border-radius: 100%;
}

form>div.search-controls button {
    margin-left: var(--segment-spacing);
    padding: 0 1em;
}

table {
    margin: 4em 0;
}

table>thead tr th {
    border-bottom: .5em solid var(--color-border);
    font-size: 1.4em;
}

table>tbody>tr {
    border-bottom: 1px solid var(--color-border-hover);
}

.blinking {
    animation: blink 2s ease-in-out infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes valid {
    0% {
        border-style: solid;
        border-width: 1px;
        /* border-color: inherit; */
    }

    50% {
        border-width: 2px;
    }

    100% {
        border-color: green;
    }
}

@keyframes invalid {
    0% {
        border-style: solid;
        border-width: 1px;
        /* border-color: inherit; */
    }

    50% {
        border-width: 2px;
    }

    100% {
        border-color: red;
    }
}
</style>