<script lang="ts" setup>
import { defineProps, defineEmits } from 'vue'

interface InputProps {
    disabled?: boolean;
    modelValue: string;
}

// Accept the currently selected option and the overal disable status from the parent level
const props = defineProps<InputProps>();

// Ensure v-model can work at parent level by propagating update events
const emit = defineEmits(['update:modelValue'])
const updateValue = (event: Event) => {
    emit('update:modelValue', (event.target as HTMLInputElement)?.value ?? '')
}
</script>

<template>
    <input type="text" id="search" :value="modelValue" @input="updateValue" :disabled="props.disabled" required
        minlength="3" autocomplete="off" placeholder="Write one or more subjects that interest you..." />
</template>
