@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;

    width: 100%;
  }

  #app {
    padding: 0 2rem;

    max-width: 1280px;
    width: 80%;
  }
}
